<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Livro</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Adicionar Novo Livro</h1>

    <form method="post">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="autor">Autor:</label><br>
        <input type="text" id="autor" name="autor" required><br><br>

        <button type="submit">Adicionar</button>
    </form>

    <p><a href="/">Voltar</a></p>
</body>
</html>
