<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <h1>Biblioteca Virtual</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <p><a href="/adicionar_livro">Adicionar Livro</a></p>

    {% if livros %}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for livro in livros %}
                <tr>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor }}</td>
                    <td>{{ livro.ano }}</td>
                    <td>
                        {% if livro.devolver_ate %}
                            Emprestado até {{ livro.devolver_ate.strftime('%d/%m/%Y') }}
                        {% else %}
                            Disponível
                        {% endif %}
                    </td>
                    <td>
                        {% if not livro.devolver_ate %}
                            <a href="/emprestar_livro/{{ livro.codigo }}">Emprestar</a>
                        {% else %}
                            <a href="/devolver_livro/{{ livro.codigo }}">Devolver</a>
                        {% endif %}
                        <a href="/editar_livro/{{ livro.codigo }}">Editar</a>
                        <a href="/apagar_livro/{{ livro.codigo }}">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum livro cadastrado.</p>
    {% endif %}
</body>
</html>
